.body{
  background-color: black;
  color: white;
}
.day,.month-name{
  background-color: grey;
}
/*change defaults*/
.row{
  width: 100vw;
  margin: 0;
}
.col-md-1{
  flex: 0 0 11.111111%;
  max-width: 11.11111%;
}
.col-md-2{
  flex: 0 0 22.2222222%;
  max-width: 22.2222222%;
}
.col-md-7{
  flex: 0 0 77.777777%;
  max-width: 77.777777%;
}


/*other stuff*/
.month-name{
  margin-top: 10px;
}
.day,.date,.month-name{
  border: solid 1px black;
  text-align: center;
}
.date, .events-table-cell, .stuff{
  color: black;
}

.events-table-wrapper, .events-form-wrapper{
  display: none;
}


.month-name{
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.date{
  background-color: #e8e8e8;
  min-height: 50px;
  display: flex;
  padding: 0;
}
.date:hover{
  background-color: #cecece;
}
.day-number{
  position: absolute;
  padding: 0 5px;
  z-index: 2;
}
.date:hover{
  cursor: pointer;
}
.hasEvent:hover .low-bar{
  background-color: #1d8234;
}
.hasEvent:hover .medium-bar{
  background-color: #d19f0a;
}
.hasEvent:hover .high-bar{
  background-color: #af2a37;
}
.no-date{
  background-color: #cecece;
}
.day:hover, .no-date:hover{
  cursor: default;
}

.events .stuff, .events-table-cell{
  border: solid 1px black;
  background-color:  #e8e8e8;;
}

.events{
  margin-top: 10px;
}
.show{
  display: flex;
  z-index: 1000;
}
.events .events-date{
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.events .priority-buttons, .events .submit-buttons{
  display: flex;
  justify-content: center;
}
.btn{
  margin: 5px;
}

.time-form{
  display: flex;
  justify-content: center;
}
.time-form select, .time-form label{
  margin-right: 5px;
}
.time-form .form-control{
  display: inline-block;
  width: inherit;
}

.data-events{
  display: none;
}

.priority-bars{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.priority-bars .low-bar, .low-circle{
  background-color: #28a745;
}
.priority-bars .medium-bar, .medium-circle{
  background-color: #ffc107;
}
.priority-bars .high-bar, .high-circle{
  background-color: #dc3545;
}
.low-bar, .medium-bar, .high-bar{
  display: inline-block;
  width: 0;
  height: 100%;
  float: left;
}
.priority-cell{
  padding: 5px 0;
}
.priority-circle{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
}

.extra-buttons{
  display: flex;
  justify-content: center;
}
/*.month-chooser-wrap, .year-chooser-wrap{
  position: absolute;
}*/
.form-control.month-chooser, .form-control.year-chooser, .cal-button-chooser{
  display: none;
  font-size: 20px;
}
.cal-month, .cal-year, .month-text, .year-text{
  display: inline-block;
}

.show-chooser .month-text,.show-chooser .year-text {
  display: none;
}
.show-chooser .form-control.month-chooser, .show-chooser .form-control.year-chooser, .show-chooser .cal-button-chooser{
  display: inline-block;
}

.calendar-wrapper .cal-month:hover, .calendar-wrapper .cal-year:hover{
  color: #e2e2e2;
}


.cal-month:hover, .cal-year:hover{
  cursor: pointer;
}
.date-form{
  display: flex;
}
.date-form select{
  display: inline-block;
  margin: 20px 10px 20px 0
}
.date-form select:last-child{
  margin-right: 0;
}
.tablet-name, .desktop-name{
  display: none;
}
@media (min-width: 576px){
  .mobile-name{
    display: none;
  }
  .tablet-name{
    display: inherit;
  }
}
@media (min-width: 768px) {
  .tablet-name{
    display: none;
  }
  .desktop-name{
    display: inherit;
  }
}
